
<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>{{title}}
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
       
  </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  <div class="container">
      <div class="row">
        
        <div class="col-md-12"> 
          
          <div class="panel">
            <div class="panel-body">
              
              
                <form class="form-signin" (ngSubmit)="editAuthor()" class="form-group login-content" >
    
                      
                    <input [(ngModel)]="author.name" type="text" name="name" id="title" class="form-control" placeholder="Name" required autofocus>
                    
                    <br><label for="error1" id="error1"></label>
                    <input [(ngModel)]="author.born" type="date" name="born" id="born" class="form-control" placeholder="Born" required autofocus>
                    
                    <br><label for="error1" id="error1"></label>
    
                    <input [(ngModel)]="author.image" type="file" name="image" id="image" class="form-control" placeholder="Image" required>
                    <label for="error2" id="error2"></label>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" >Update Author</button><br>
                    
                  </form>
              
              
              
              
            
              
            </div>
          </div>
                                                                                           
                                                        
                                                          
           </div><!--/col-12-->
      </div>
    </div>